@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  line-height: 1.5;
  tab-size: 4;
  scroll-behavior: smooth;
}
body * {
  font-family: "Montserrat";
  line-height: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
p,
pre {
  margin: 0;
}
*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}
h1,
h2 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
.wrapper_img {
  background-image: url(../public/imgs/iphone13.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 30px;
  width: 450px;
  height: 885px;
  padding-top: 50px;
  padding-left: 25px;
  background-color: #fff;
}

.app {
  width: 390px;
  height: 814px;
  overflow: hidden;
  background-color: #ffff;
  border-radius: 45px;
  padding: 10px;
  padding-top: 20px;
}

.shadow {
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.rounded {
  border-radius: 1.5rem;
}
.wrapper {
  width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: rgba(55, 65, 81, 1);
  width: 100%;
}

.social-login img {
  width: 24px;
}
a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.card {
  padding: 10px;
}

.title {
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-size: 25px;
  margin-bottom: 20px;
}

.btn-text {
  margin: 0;
}

.email-login {
  display: flex;
  flex-direction: column;
}
.email-login label {
  color: rgb(108, 108, 108);
  font-size: 15px;
  font-weight: 600;
}

.email-login input:focus {
  outline: 1px solid #ccc;
}

.email-login input[type="text"],
.email-login input[type="password"] {
  padding: 10px 20px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-weight: 600;
}

.cta-btn {
  background-color: rgb(69, 69, 185);
  color: white;
  padding: 18px 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.forget-pass {
  float: right;
  font-size: 14px !important;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-weight: 500;
}

.avatar {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}